body {
    margin-top: 10%;
    text-align: center;
    background-color:rgb(255, 171, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(87, 7, 39);

}
#wordDisplay {
    font-weight: bold;
    font-size: larger;
}
#submitButton {
    font-size: large;
    background-color: rgb(255, 157, 174);
    border-color: rgb(239, 19, 122);
    border-radius: 10px;
    transition: all linear 0.2s;
}

#submitButton:hover {
    background-color: rgb(201, 78, 98);
    color: white;
}

#inputLetter {
    width: 100px;
    font-size: large;
    background-color: rgb(255, 157, 174);
    border-radius: 10px;
    border-color: rgb(239, 19, 122);
}
